.slider
	padding: 100px 0

	&__title
		padding-bottom: 30px
		text-transform: uppercase

	&__bg
		width: 235px
		height: 130px

		&_1
			background: url(../img/slide-1.jpg)

		&_2
			background: url(../img/slide-2.jpg)

		&_3
			background: url(../img/slide-3.jpg)

		&_4
			background: url(../img/slide-4.jpg)

		&_5
			background: url(../img/slide-5.jpg)

		&_6
			background: url(../img/slide-6.jpg)

		&_7
			background: url(../img/slide-7.jpg)

	&__text
		padding-top: 10px

	&.is-about
		.information
			&__descr
				padding-bottom: 10px
