extends layout/layout.pug

block content
	.banner.is-about.parallax-js
		.container
			.bread-crumbs
				ul.bread-crumbs__list
					li.bread-crumbs__el.is-active
						span.bread-crumbs__text Home
					li.bread-crumbs__el
						span.bread-crumbs__text Blog
	section.section.is-blog
		.container
			.slider.is-blog
				.slider__wrap
					.slider__item
						.item
							.item__top
								h3.item__title.i-upper Suspendisse leo sem, tincidunt eget
								.item__bg.item__bg_1
								p.item__descr
									|Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat,
									|varius et orci non, eleifend ultricies tortor. Duis tempus commodo
									|velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit
									|amet dictum.
								p.item__date 30/09/2014 by Yane Naumoski
							.item__bottom
								h3.item__title.i-upper Sed ultrices odio arcu, et mollis leo
								.item__bg.item__bg_1
								p.item__descr
									|Curabitur suscipit ligula at metus malesuada iaculis. Fusce
									|eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus,
									|ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
								p.item__date 27/09/2014 by Yane Naumoski
					.slider__item
						.item
							.item__top
								h3.item__title.i-upper Suspendisse leo sem, tincidunt eget
								.item__bg.item__bg_1
								p.item__descr
									|Curabitur suscipit lorem in turpis rutrum facilisis. Sed risus erat,
									|varius et orci non, eleifend ultricies tortor. Duis tempus commodo
									|velit, quis aliquet augue cursus a. Aliquam auctor vitae libero sit
									|amet dictum.
								p.item__date 30/09/2014 by Yane Naumoski
							.item__bottom
								h3.item__title.i-upper Sed ultrices odio arcu, et mollis leo
								.item__bg.item__bg_1
								p.item__descr
									|Curabitur suscipit ligula at metus malesuada iaculis. Fusce
									|eget sapien turpis. Etiam dapibus, velit vitae mollis faucibus,
									|ipsum nisi lacinia leo, sed venenatis ipsum sem a turpis.
								p.item__date 27/09/2014 by Yane Naumoski
