extends layout/layout.pug

block content
	.banner.parallax-js
		h1.banner__title Suspendisse elementum
		p.banner__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed
			|convallis nibh, eget scelerisque erat. Sed elementum at nisl id euismod.
			|Nullam eget justo magna.
		span.btn Learn more
	//end banner
	.main
		.container
			.privilege
				.row
					.col.col-md-6
						h3.privilege__title
							|We are your best option
						p.privilege__descr
							|Aliquam nibh arcu, pharetra et ipsum eget, finibus suscipit odio.
							| Morbi ornare posuere rutrum. Praesent mauris nunc, blandit a enim
							|in, faucibus laoreet nisi. Curabitur volutpat elit sit amet molestie
							|eleifend. Sed rutrum odio nec neque rhoncus dictum. Donec vitae
							|sollicitudin nunc. Pellentesque sed libero quam.
					.col.col-md-6
						h3.privilege__title
							|Clients choose us!
						p.privilege__descr
							|Maecenas ut sem ac tellus tempus hendrerit. Curabitur suscipit lorem
							|in turpis rutrum facilisis. Sed risus erat, varius et orci non,
							|eleifend ultricies tortor. Etiam venenatis purus turpis, eu semper
							|neque placerat ut.
						p.privilege__descr
							|Curabitur suscipit ligula at metus malesuada iaculis. Learn more
		.info.parallax-js
			.container
				h2.info__title
					|How can we help?
				.row
					.col.col-md-3
						i.ico.ico_download
						p.info__descr
							|Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar
							|ex placerat nec. Nam elementum.
					.col.col-md-3
						i.ico.ico_signs
						p.info__descr
							|Duis vitae lorem nulla. Aenean lacinia purus neque, eu pulvinar ex
							|placerat nec. Nam elementum.
					.col.col-md-3
						i.ico.ico_full
						p.info__descr
							|Nunc lectus consectetur nulla, quis dictum augue leo eu mauris.
							|Nulla pretium felis non dui ultrices.
					.col.col-md-3
						i.ico.ico_battery
						p.info__descr
							|Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh.
							|Mori dictum orci ligula, non aliquet.
		.slider.is-general
			.container
				h3.slider__title Our
					span.is-red  project
				.slider__wrap
					.slider__item
						.slider__bg.slider__bg_1
						p.slider__text Duis suscipit venenatis
					.slider__item
						.slider__bg.slider__bg_2
						p.slider__text Ligula Dignissim
					.slider__item
						.slider__bg.slider__bg_3
						p.slider__text Dapibus sit amet
					.slider__item
						.slider__bg.slider__bg_4
						p.slider__text Quisque!
					.slider__item
						.slider__bg.slider__bg_5
						p.slider__text Duis suscipit venenatis
					.slider__item
						.slider__bg.slider__bg_6
						p.slider__text Duis suscipit venenatis
					.slider__item
						.slider__bg.slider__bg_7
						p.slider__text Duis suscipit venenatis
