extends layout/layout.pug

block content
	.banner.is-about.parallax-js
		.container
			.bread-crumbs
				ul.bread-crumbs__list
					li.bread-crumbs__el.is-active
						span.bread-crumbs__text Home
					li.bread-crumbs__el
						span.bread-crumbs__text Product
	section.section.is-product
		.container
			.item
				.row
					.col.col-md-6
						.product
							h3.product__title.i-upper Zaamron v2.1
							p.product__subtitle.is-red Maecenas ut sem ac tellus tempus hendrerit
							p.product__descr
								|Curabitur suscipit lorem in turpis rutrum facilisis.
								|Sed risus erat, varius et orci non, eleifend ultricies tortor.
								|Duis tempus commodo velit, quis aliquet augue cursus a. Aliquam
								|auctor vitae libero sit amet dictum.
							img(src="/img/slide-1.jpg", class="product__img")
							img(src="/img/slide-2.jpg", class="product__img")

					.col.col-md-6
						.product
							h3.product__title.i-upper Ozertrax
							p.product__subtitle.is-red Fusce eget sapien turpis
							p.product__descr
								|Pellentesque habitant morbi tristique senectus et netus et malesuada
								|fames ac turpis egestas. Donec posuere elit at eros sagittis, id
								|malesuada nibh rutrum. Phasellus pulvinar convallis sem et facilisis.
							img(src="/img/slide-7.jpg", class="product__img")
							img(src="/img/slide-2.jpg", class="product__img")

					.col.col-md-6
						.product
							h3.product__title.i-upper Job Golux
							p.product__subtitle.is-red Vivamus tempus ac libero eu dignissim
							p.product__descr
								|Quisque suscipit quam vel tortor luctus, sit amet sagittis ante
								|eleifend. In quis purus nibh. Curabitur euismod, nunc a aliquam
								|dictum, magna mauris vestibulum massa, nec luctus arcu ligula quis
								|tortor.
							img(src="/img/slide-1.jpg", class="product__img")
							img(src="/img/slide-2.jpg", class="product__img")

					.col.col-md-6
						.product
							h3.product__title.i-upper Zotlam
							p.product__subtitle.is-red Cras dapibus euismod nulla
							p.product__descr
								|Sed sagittis laoreet magna, in bibendum nulla vestibulum scelerisque.
								|Quisque faucibus risus ut erat volutpat semper. Quisque ac molestie
								|justo. Nam eu erat eros. Etiam imperdiet sollicitudin est eleifend
								|bibendum.
							img(src="/img/slide-3.jpg", class="product__img")
							img(src="/img/slide-4.jpg", class="product__img")

					.col.col-md-6
						.product
							h3.product__title.i-upper Strongzap - your photobook
							p.product__subtitle.is-red Phasellus sollicitudin nulla
							p.product__descr
								|Vivamus ac lorem fringilla dui semper dignissim ornare at nulla.
								|Donec bibendum ligula mi, id dignissim nisl imperdiet vel.
								|Pellentesque sodales, purus nec condimentum aliquet, velit dui
								|efficitur nisi, eget bibendum.
							img(src="/img/slide-5.jpg", class="product__img")
							img(src="/img/slide-6.jpg", class="product__img")

					.col.col-md-6
						.product
							h3.product__title.i-upper Trippleex
							p.product__subtitle.is-red Duis in urna eget elit lacinia
							p.product__descr
								|Pellentesque habitant morbi tristique senectus et netus et malesuada
								|fames ac turpis egestas. Donec posuere elit at eros sagittis, id
								|malesuada nibh rutrum. Phasellus pulvinar convallis sem et facilisis.
							img(src="/img/slide-5.jpg", class="product__img")
							img(src="/img/slide-6.jpg", class="product__img")
