footer.footer
	div.container
		div.row
			div.col.col-md-3
				h4.footer__title About
					span.red  us
				img.footer__img
				p
					|Sed erat justo, dapibus sit amet dictum sit amet, condimentum vel erat.
					|Maecenas mollis. tincidunt sollicitudin
				p
					|Duis suscipit venenatis sapien, et dictum ligula dignissim non. Nunc
					|sapien justo, faucibus commodo ullamcorper nec, tempor vitae quam.
					span Read more
			div.col.col-md-3
				h4.footer__title From our
					span.red  blog
				img.footer__img
				p
					|Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum,
					|sollicitudin ante nec...
				img.footer__img
				p
					|Vraesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh.
					|Morbi tum... orci li
			div.col.col-md-3
				h4.footer__title &nbsp;
				img.footer__img
				p
					|Vestibulum volutpat sollicitudin consequat. Nam nec elit rutrum,
					|sollicitudin ante nec...
				img.footer__img
				p
					|Praesent ac neque laoreet, sagittis ipsum vitae, ullamcorper nibh.
					|Morbi tum... orci li
			div.col.col-md-3
				h4.footer__title Our
					span.red  location
				p
					|Suspendisse ullamcorper diam ex.
				p
					|154 Street Name 242
				p
					|Cityname, Country
				p
					a(href="#")
						|info@domainame.com
				.social
					ul.social__list
						li.social__el
							a(href="#")
								i.ico.ico_tw
						li.social__el
							a(href="#")
								i.ico.ico_fb
						li.social__el
							a(href="#")
								i.ico.ico_gp
						li.social__el
							a(href="#")
								i.ico.ico_pin
//end footer
