header.header.container
	.header__wrap
		a.logo(href='index.html')
			img.logo__img(src='..build/img/Logo.png', alt='logo')
		nav.nav
			ul.nav__list
				li.nav__el
					a.nav__link(href='about.html') About
				li.nav__el
					a.nav__link(href='product.html') Product
				li.nav__el
					a.nav__link(href='blog.html') Blog
				li.nav__el
					a.nav__link(href='contact.html') Contact
//end header
