doctype html
html
	head
		meta(charset="UTF-8")
		title fast-search
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		meta(name="theme-color" content="#fff")
		link(rel="stylesheet" media="all" href="css/bootstrap.min.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
		link(rel="stylesheet" media="all" href="css/app.css")
		script(src="js/app.js")
	body
		include header.pug
		block content
		include footer.pug
